@model IEnumerable<MvcLabManager.Models.Computer>
@{
    ViewData["Title"] = "Computadores";
}
<h1>@ViewData["Title"]</h1>
@if(Model.Count() == 0)
{
    <p>Nenhum Computador cadastrado!</p>
    <a class="btn btn-outline-dark" href="/Computer/Add">Cadastre um novo Computador</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Memória Ram</th>
                <th>Processador</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var computer in Model){
                <tr>
                    <td>@computer.Id</td>
                    <td>@computer.Ram</td>
                    <td>@computer.Processor</td>
                    <td><a href="/Computer/Show/@computer.Id" class="btn btn-primary btn-sm btn-dark">Ver</a>
                    <a href="/Computer/Update/@computer.Id" class="btn btn-primary btn-sm btn-dark">Editar</a>
                    <a href="/Computer/Delete/@computer.Id" class="btn btn-primary btn-sm btn-dark">Deletar</a></td>
                </tr>
            }
            <tr>
                <a class="btn btn-outline-dark" href="/Computer/Add">Cadastre um novo Computador</a>
            </tr>
        </tbody>
    </table>
}