@model MvcLabManager.Models.Lab
@{
    ViewData["Title"] = "Cadastrar Lab";
}
<h1>@ViewData["Title"]</h1>
<p>Cadastro - Lab</p>

<form class="form" asp-controller="Lab" asp-action="Add" method="POST">
    <label for="Number">Número</label>
    <input type="number" id="Number" name="Number">

    <label for="Name">Nome</label>
    <input type="text" id="Name" name="Name">

    <label for="Block">Bloco</label>
    <input type="text" id="Block" name="Block">

    <input class="submit" type="submit" value="Adicionar">
</form>